:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.grid {
  width: 100vw;
  height: 100vh;
}

.grid-item {
  border:3px dashed #106cc8;
}
